.removeStyle{
    position: absolute;
    right: 5px;
    top: 1;
    cursor: pointer;
}

.colorStyle{
    position: absolute;
    right: 30px;
    top: 1;
    cursor: pointer;
}

.buttonwrap{
    width: 99%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.hover{
    color:transparent;
}

.hover:hover{
    color: black;
}

.customButton:hover~.hover{
    color: black;
}

