.textWrap{
    width: 99%;
    height: 100%;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.hoverThis{
    color:transparent;
}

.hoverThis:hover{
    color: black;
}

.textInput:hover+.hoverThis{
    color: black;
}